{%extends 'base.html'%}
<!-- {% load static %} -->

from .models import Article

{%block title %}
<h1>Detail View</h1>

{% endblock%}

<h1>This is the Detail View Page</h1>

{% block content %}
<div style="color: aliceblue;">

<div class="card mb-3" style="max-width: 900px; background-color: rgba(253, 253, 253, 0);">
    <div class="row no-gutters">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title"><strong>{{object.article.title}}</strong></h2>
          <p class="card-text">{{object.article.content}}</p>
          <p class="card-text">By: {{object.article.author}}  on {{article.created_on | date:"F d, Y"}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock%}